// ==============================
// Design Tokens
// ==============================

// Fonts
$font-primary: 'Open Sans', sans-serif;

// Colors
$color-primary: #fff;       // Main text color
$bg-primary: #000;       // Main background color

// Optional: semantic aliases
$color-accent: #cf1430;

// Spacing
$space-xxl:120px;
$space-lg: 30px;
$space-sm: 10px;

